terraform-provider-pureport

# Binaries for programs and plugins
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

*.tfstate*
build
assets
.terraform
_output/
/results
.DS_Store
example.tf
terraform.tfvars
terraform.tfplan
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml

website/vendor

# Environment configurations
envsetup-*.sh

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/
